.player-music {
   background-color: rgb(72, 46, 123) !important;
}

::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgb(120, 93, 173);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgb(100, 69, 161);
}
